<app-header (choixSelection)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <app-recette *ngIf="choixchargement === 'recette'"></app-recette>
     <app-shopping-liste *ngIf="choixchargement !== 'recette'"></app-shopping-liste>
    </div>
  </div>
</div>