<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nom</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Montant</label>
                    <input type="number" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="AddItem()">Ajouter</button>
                    <button class="btn btn-danger" type="button" (click)="DeleteItem()">Supprimer</button>
                    <button class="btn btn-primary" type="submit" (click)="ClearItem()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
