<div class="row">
    <div class="col-md-5">
        <app-recette-liste (recetteSelectionner)="selectionRecette = $event"></app-recette-liste>
    </div>
    <div class="col-md-7">
        <app-recette-detail *ngIf="selectionRecette; else infotext"
        [recette]="selectionRecette"></app-recette-detail>
        <ng-template #infotext>
            <p>Selectionner une Recette</p>
        </ng-template>
    </div>
</div>
