<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">Nouvelle Recette</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recette-item *ngFor="let recetteEl of recettes" 
        [recetteItem]="recetteEl"
        (recetteDetail)="recetteChoisie(recetteEl)"></app-recette-item>
    </div>
</div>

